<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Work pls">
<meta name="author" content="mike" >
<title>Ask minaev</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/bootstrap/css/navbar-fixed-top.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-tag-cloud.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include "ask/error.html" %}
<div class="container-fluid"> 
  <!-- Fixed navbar -->
 {% include "ask/top.html" %} 
 <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/">Ask minaev</a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
        {% include "ask/login.html" %}
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-8 col-lg-9">
    <ul class="nav nav-tabs">
          {% if user.is_authenticated %}
			<div class="pull-right">
      		<a data-toggle="modal" href="#myModal" class="btn btn-success">Ask</a> 
      	</div>
      	{% endif %}
    </ul>

      <div class="row-fluid" >
	{% if question %}
        <div class="question">
          <div class="container" >
            <div class="col-md-2">
              <a href="/like/?id={{ question.id }}" class="btn btn-default btn-sm">
  							<span class="glyphicon glyphicon-plus"></span>
					</a>
               <h4 style="display:inline;"><span class="label label-default btn-sm">{{ question.rating }}</span></h4>
					<a href="/dislike/?id={{ question.id }}" class="btn btn-default">
  							<span class="glyphicon glyphicon-minus"></span>
					</a>
            </div>
            <div class="col-md-10">
              <div class="jumbotron" style="border: 2px solid black">
                <div class="container" style="overflow: hidden;">
                  <h2>{{ question.header }}</h2>
                  <p>{{ question.body }}</p>
                </div>
                <p>
		  				<a href="/answer/?id={{ question.id }}" class="btn btn-default ">Answer </a>
                	<a href="/user/?id={{ question.user.id }}"> {{ question.user.username }} </a>
                </p>
              </div>
            </div>
          </div>
        </div>
	{% endif %}
	{% if answers %}
	{% for answer in answers %}
			<div class="answer">
          <div class="container" >
            <div class="col-md-2">
            	<a href="/alike/?id={{ answer.id }}" class="btn btn-default">
  							<span class="glyphicon glyphicon-plus"></span>
					</a>
               <h4 style="display:inline;"><span class="label label-default">{{ answer.rating }}</span></h4>
					<a href="/adislike/?id={{ answer.id }}" class="btn btn-default">
  							<span class="glyphicon glyphicon-minus"></span>
					</a>
            </div>
            <div class="col-md-10">
             {% if answer.isright %}
              <div class="jumbotron" style="border: 2px solid black;background-color: #52D017">
             {% else %}
             <div class="jumbotron" style="border: 2px solid black">
             {% endif %}
                 <div class="container" style="overflow: hidden; ">
                  <p>{{ answer.content }}</p>
                  <p>
                  {% if user == question.user and answer.isright == False %}
                  <a href="/right/?id={{ answer.id }}" class="btn btn-default ">Right answer </a>
						{% endif %}
                  <a href="/user/?id={{ answer.author.id }}"> {{ answer.author.username }} </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          </div>
	{% endfor %}
	{% endif %}
	{% if user.is_authenticated %}
		<form id="answer" action="/ans/?id={{ question.id }}" method="post">{% csrf_token %} 
			{{ AnswerForm.content }}
			<button type="submit" class="btn btn-primary" form="answer">Answer!</button>	
			</form>
			{% endif %}
      </div>
      </div>
  {% include "ask/search.html" %}
  {% include "ask/modal.html" %} 
  {% include "ask/register.html" %}
  <!-- /.modal --> 
  <!-- Bootstrap core JavaScript
    ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="/bootstrap/js/jquery.js"></script> 
  <script src="/bootstrap/js/bootstrap.min.js"></script> 
  <script src="/bootstrap/js/bootstrap-tag-cloud.js"></script>
  </script> 
</div>
</body>
</html>
